// Styling for the download section
section.contact {
    text-align: center;
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
        i {
            color: $brand-google-plus;
        }
    }
    ul.list-social {
        margin-bottom: 0;

        li {
            margin: 0 50px 0 50px;

            &:hover {
                font-weight: bold;
            }

            a {
                line-height: 80px;
                display: block;
                width: 100px;
                height: 100px;
                color: white;
                border-radius: 100%;
            }
        }

        .image {
            border-radius: 66px;
            border: 3px solid #fff;
            background: #fff;
            width: 100px;
            height: 100px;
        }
    }
}
